<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/croperjs/cropper.css">
    <script src="/croperjs/cropper.js"></script>
    <title>Sole Saavy</title>
</head>
<body>
    <div class="container">
        <div class="img-container">
             <img  id="img" src="" alt="no image">
        </div>

    </div>
</body>
</html>