
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SOLE SAAVY</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="/img/ssLOGO.png"
    />
    <link rel="stylesheet" href="/assets/css/styles.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
          margin-top: 20px; 
        }
  
        th,
        td {
          border: 1px solid #ddd;
          padding: 12px;
          text-align: left;
        }
  
        th {
          background-color: #f2f2f2;
        }
  
        button {
          padding: 8px 16px;
          cursor: pointer;
        }
  
        .block {
          background-color: #ff6347; /* Tomato color */
          color: #fff;
          border: none;
        }
  
        .unblock {
          background-color: #5cb85c; /* Green color */
          color: #fff;
          border: none;
        }
        .form-control{
            width: 50%;
            align-items: center;
            margin-left: 25%;
            border: solid;
        }
       .btn{
        margin-left: 20px;
       }
      </style>
  </head>

  <body>
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./Dashboard" class="text-nowrap logo-img">  
            <img src="/img/ssLOGO.png" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>


            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/Dashboard" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/customers" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-user"></i>
                </span>
                <span class="hide-menu">CUSTOMERS</span>
              </a>
            </li>
 
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/Category" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-list"></i>
                </span>
                <span class="hide-menu">CATEGORIES</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/products" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-p"></i>
                </span>
                <span class="hide-menu">PRODUCTS</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/orders" aria-expanded="false">
                <span>
                  <i class="fa-brands fa-dropbox"></i>
                </span>
                <span class="hide-menu">ORDERS</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/salesReport" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-credit-card"></i>
                </span>
                <span class="hide-menu">SALES REPORT</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/offers" aria-expanded="false">
                <span>
                  <i class="fas fa-tags"></i>

                </span>
                <span class="hide-menu">Offers</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/logout" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-right-from-bracket"></i>
                </span>
                <span class="hide-menu">LOGOUT</span>
              </a>
            </li>

            
            
            
           
          </ul>
        
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    </aside>
    
    <!--  Sidebar End -->
      <!--  Main wrapper -->
      <div class="body-wrapper">
        <!--  Header Start -->
        <header class="app-header">
          <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav">
              <li class="nav-item d-block d-xl-none">
                <a
                  class="nav-link sidebartoggler nav-icon-hover"
                  id="headerCollapse"
                  href="javascript:void(0)"
                >
                  <i class="ti ti-menu-2"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                  <i class="ti ti-bell-ringing"></i>
                  <div class="notification bg-primary rounded-circle"></div>
                </a>
              </li>
            </ul>
            <div
              class="navbar-collapse justify-content-end px-0"
              id="navbarNav"
            >
              <ul
                class="navbar-nav flex-row ms-auto align-items-center justify-content-end"
              >
                <a href="" target="_blank" class="btn btn-primary">PROFILE</a>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link nav-icon-hover"
                    href="javascript:void(0)"
                    id="drop2"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <img
                      src="../assets/images/profile/user-1.jpg"
                      alt=""
                      width="35"
                      height="35"
                      class="rounded-circle"
                    />
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
                    aria-labelledby="drop2"
                  >
                    <div class="message-body">
                      <a
                        href="javascript:void(0)"
                        class="d-flex align-items-center gap-2 dropdown-item"
                      >
                        <i class="ti ti-user fs-6"></i>
                        <p class="mb-0 fs-3">My Profile</p>
                      </a>
                      <a
                        href="javascript:void(0)"
                        class="d-flex align-items-center gap-2 dropdown-item"
                      >
                        <i class="ti ti-mail fs-6"></i>
                        <p class="mb-0 fs-3">My Account</p>
                      </a>
                      <a
                        href="javascript:void(0)"
                        class="d-flex align-items-center gap-2 dropdown-item"
                      >
                        <i class="ti ti-list-check fs-6"></i>
                        <p class="mb-0 fs-3">My Task</p>
                      </a>
                      <a
                        href="./authentication-login.html"
                        class="btn btn-outline-primary mx-3 mt-2 d-block"
                        >Logout</a
                      >
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </header>
        <!--  Header End -->
        <div class="container-fluid">
          <!-- Row 1 -->
          <div class="row text-center">
             
              


              <div class="container mt-5 ">
                <form id="myForm" method="post" action="">
                  <div class="form-row align-items-center">
                    <!-- Input text field -->
                    <div class="col-auto">
                     <h1>Edit Category</h1><br>
                     <% if(locals.message){%>
                      <div class="msg" style="color: red;">
                      <%= message %>
                      </div>
                       <% } %>
                     
                      <input type="text" class="form-control mb-2" id="textInput" name="textInput" value="<%= catData.categoryName %>" required>
                      <input type="hidden" id="cat-id" value="<%= id %>">
                    </div>
            
                    <!-- Add Category button -->
                    <div class="col-auto">
                      <button class="btn btn-primary mb-2" type="button" onclick="editcategory()">Edit Category</button>
                    </div>
                  </div>
              
                  </form>
              </div>

          </div>
      </div>



      <script>
     function editcategory(){
      const inputCat = document.getElementById('textInput').value
      const ID = document.getElementById('cat-id').value
     

      fetch('/admin/edit', {
            method: 'put',
            headers: {
                'Content-Type': 'application/json'
            },
            body:JSON.stringify({inputCat,ID})
        }).then(response => {
            return response.json();
        }).then(data => {
          if (data.value == 1) {
            Swal.fire("Category Edited");
          }else{
            Swal.fire("Category Already exist");
          }
        })
     }
   
  




  
      

      </script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- sweetalert  -->
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/sidebarmenu.js"></script>
    <script src="../assets/js/app.min.js"></script>
    <script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="../assets/js/dashboard.js"></script>
  </body>
</html>
