<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SOLE SAAVY</title>
    <link rel="shortcut icon" type="image/png" href="/img/Favicon.jpg" />
    <link rel="stylesheet" href="../assets/css/styles.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <style>
        .body-wrapper {
            text-align: center;
            /* Center the content within the body-wrapper */
            margin-top: 70px;
        }

        

        label {
            display: block;
            /* Make labels display as blocks for better alignment */
            margin-bottom: 10px;
            /* Add margin between labels and inputs */
        }

        input {
            width: 20%;
            /* Make input fields take up the full width of their container */
            padding: 5px;
            /* Add padding for better appearance */
            box-sizing: border-box;
            background-color: rgb(222, 217, 217);
            /* Include padding in the input's total width */
        }
    </style>

</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
          <!-- Sidebar scroll-->
          <div>
            <div class="brand-logo d-flex align-items-center justify-content-between">
              <a href="./Dashboard" class="text-nowrap logo-img">  
                <img src="/img/ssLOGO.png" width="180" alt="" />
              </a>
              <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
              </div>
            </div>
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
              <ul id="sidebarnav">
                <li class="nav-small-cap">
                  <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                  <span class="hide-menu">Home</span>
                </li>
    
    
                <li class="sidebar-item">
                  <a class="sidebar-link" href="/admin/Dashboard" aria-expanded="false">
                    <span>
                      <i class="ti ti-layout-dashboard"></i>
                    </span>
                    <span class="hide-menu">DASHBOARD</span>
                  </a>
                </li>
    
                <li class="sidebar-item">
                  <a class="sidebar-link" href="/admin/customers" aria-expanded="false">
                    <span>
                      <i class="fa-solid fa-user"></i>
                    </span>
                    <span class="hide-menu">CUSTOMERS</span>
                  </a>
                </li>
     
                <li class="sidebar-item">
                  <a class="sidebar-link" href="/admin/Category" aria-expanded="false">
                    <span>
                      <i class="fa-solid fa-list"></i>
                    </span>
                    <span class="hide-menu">CATEGORIES</span>
                  </a>
                </li>
    
                <li class="sidebar-item">
                  <a class="sidebar-link" href="/admin/products" aria-expanded="false">
                    <span>
                      <i class="fa-solid fa-p"></i>
                    </span>
                    <span class="hide-menu">PRODUCTS</span>
                  </a>
                </li>
    
                <li class="sidebar-item">
                  <a class="sidebar-link" href="/admin/orders" aria-expanded="false">
                    <span>
                      <i class="fa-brands fa-dropbox"></i>
                    </span>
                    <span class="hide-menu">ORDERS</span>
                  </a>
                </li>
    
                <li class="sidebar-item">
                  <a class="sidebar-link" href="/admin/salesReport" aria-expanded="false">
                    <span>
                      <i class="fa-solid fa-credit-card"></i>
                    </span>
                    <span class="hide-menu">SALES REPORT</span>
                  </a>
                </li>
    
                <li class="sidebar-item">
                  <a class="sidebar-link" href="/admin/offers" aria-expanded="false">
                    <span>
                      <i class="fas fa-tags"></i>
    
                    </span>
                    <span class="hide-menu">OFFERS</span>
                  </a>
                </li>
    
                <li class="sidebar-item">
                  <a class="sidebar-link" href="/admin/coupons" aria-expanded="false">
                    <span>
                      <i class="fa-solid fa-receipt"></i>
    
                    </span>
                    <span class="hide-menu">COUPONS</span>
                  </a>
                </li>
    
                <li class="sidebar-item">
                  <a class="sidebar-link" href="/admin/refference" aria-expanded="false">
                    <span>
                      <i class="fa-solid fa-link"></i>
    
                    </span>
                    <span class="hide-menu">REFFEREL</span>
                  </a>
                </li>
    
                <li class="sidebar-item">
                  <a class="sidebar-link" href="/admin/logout" aria-expanded="false">
                    <span>
                      <i class="fa-solid fa-right-from-bracket"></i>
                    </span>
                    <span class="hide-menu">LOGOUT</span>
                  </a>
                </li>
    
                
                
                
               
              </ul>
            
            </nav>
            <!-- End Sidebar navigation -->
          </div>
          <!-- End Sidebar scroll-->
        </aside>
      <!--  Sidebar End -->
        <!--  Main wrapper -->

        
        
        <div class="container mt-4">
            <h1 style="margin-left: 700px;">Offers</h1>
            <div class="table-responsive"  style="margin-left: 270px;">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr style="text-align: center;">
                            <th>Offer Name</th>
                            <th>Percentage</th>
                            <th>Starting</th>
                            <th>Expires</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% for(let i = 0; i < offers.length; i++) { %>
                        <tr>
                            <td><%= offers[i].offerName %></td>
                            <td><%= offers[i].discount %></td>
                            <td><%= new Date(offers[i].validFrom).toLocaleDateString() %></td>
                            <td><%= new Date(offers[i].expiry).toLocaleDateString() %></td>

                        </tr>
                    <% } %>
                    </tbody>
                </table>
                <a href="/admin/addOffer">
                <button class="btn btn-dark">Add Offer</button>
            </a>
            </div>
        </div>
        
       
        


        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- sweetalert  -->
        <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../assets/js/sidebarmenu.js"></script>
        <script src="../assets/js/app.min.js"></script>
        <script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
        <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
        <script src="../assets/js/dashboard.js"></script>
        
</body>

</html>