<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SOLE SAAVY</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/ss.png" />
    <link rel="stylesheet" href="../assets/css/styles.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <style>
         .body-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        
        .brown-div {
            background-color: brown;
            width: 800px;
            height: 200px;
        }
    </style>

</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="./index.html" class="text-nowrap logo-img">
                        <img src="/img/ssLOGO.png" width="180" alt="" />
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Home</span>
                        </li>


                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/Dashboard" aria-expanded="false">
                                <span>
                                    <i class="ti ti-layout-dashboard"></i>
                                </span>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/customers" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-user"></i>
                                </span>
                                <span class="hide-menu">CUSTOMERS</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/Category" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-list"></i>
                                </span>
                                <span class="hide-menu">CATEGORIES</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/products" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-p"></i>
                                </span>
                                <span class="hide-menu">PRODUCTS</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/orders" aria-expanded="false">
                                <span>
                                    <i class="fa-brands fa-dropbox"></i>
                                </span>
                                <span class="hide-menu">ORDERS</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link active " href="./index.html" aria-expanded="false" >
                                <span>
                                    <i class="fa-solid fa-credit-card"></i>
                                </span>
                                <span class="hide-menu">PAYMENTS</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/logout" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </span>
                                <span class="hide-menu">LOGOUT</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->  

        <div class="body-wrapper">
            <div class="container-fluid">
                <div class="brown-div d-flex">
                    <!-- Your content goes here -->
                </div>
            </div>
        </div>
    
            <!-- order view  is end -->


            


            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- sweetalert  -->
            <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
            <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="../assets/js/sidebarmenu.js"></script>
            <script src="../assets/js/app.min.js"></script>
            <script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
            <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
            <script src="../assets/js/dashboard.js"></script>
</body>

</html>