<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SOLE SAAVY</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/ss.png" />
    <link rel="stylesheet" href="../assets/css/styles.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <style>
        .body-wrapper {
            text-align: center;
            /* Center the content within the body-wrapper */
            margin-top: 70px;
        }

        .container-fluid {
            background-color: rgb(213, 211, 204);
            margin-top: 50px;
            padding: 20px;
            /* Added padding for better spacing */
            display: inline-block;
            /* Center the container */
        }

        label {
            display: block;
            /* Make labels display as blocks for better alignment */
            margin-bottom: 10px;
            /* Add margin between labels and inputs */
        }

        input {
            width: 20%;
            /* Make input fields take up the full width of their container */
            padding: 5px;
            /* Add padding for better appearance */
            box-sizing: border-box;
            background-color: rgb(222, 217, 217);
            /* Include padding in the input's total width */
        }
    </style>

</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="./index.html" class="text-nowrap logo-img">
                        <img src="/img/ssLOGO.png" width="180" alt="" />
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Home</span>
                        </li>


                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/Dashboard" aria-expanded="false">
                                <span>
                                    <i class="ti ti-layout-dashboard"></i>
                                </span>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/customers" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-user"></i>
                                </span>
                                <span class="hide-menu">CUSTOMERS</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/Category" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-list"></i>
                                </span>
                                <span class="hide-menu">CATEGORIES</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/products" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-p"></i>
                                </span>
                                <span class="hide-menu">PRODUCTS</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/orders" aria-expanded="false">
                                <span>
                                    <i class="fa-brands fa-dropbox"></i>
                                </span>
                                <span class="hide-menu">ORDERS</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link active " href="./index.html" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-credit-card"></i>
                                </span>
                                <span class="hide-menu">PAYMENTS</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/logout" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </span>
                                <span class="hide-menu">LOGOUT</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->

        <div class="body-wrapper">
            <div class="container-fluid">
                <h3>Select Date:</h3>
                <span id="err" style="color: red;"></span>
                <label for="Start">Start Date:</label>
                <input id="startDate" type="date">


                <label for="end">End Date:</label>
                <input id="endDate" type="date">
                <br>
                <button class="btn  btn-primary" style="margin-top: 20px;" onclick="salesData()">Submit</button>
            </div>


            <div class="table-responsive" style="padding: 10px;">
                <table class="table table-bordered" id="myTable">
                    <thead class="table-dark">
                        <tr>
                            <th>Order Date</th>
                            <th>Order ID</th>
                            <th>Total Amount</th>
                            <th>Payment Method</th>
                            <th>Shipping Address</th>
                        </tr>
                    </thead>
                    <tbody id="reportBody">

                    </tbody>
                </table>
                <button class="btn btn-success" onclick="dwnldReport()"> Dowload</button>
            </div>

        </div>

        <!-- order view  is end -->


        <script>
            function salesData() {
                const sart = document.getElementById('startDate').value
                const end = document.getElementById('endDate').value

                if (sart == '' || end == '') {
                    document.getElementById('err').innerText = "select Date"
                } else {

                    let url = `/admin/salesReportData?start=${sart}&end=${end}`

                    fetch(url, {
                        method: "get",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })
                        .then(Response => {
                            return Response.json()
                        })
                        .then(data => {
                            if (data.salesData) {
                                const salesdata = data.salesData

                                const tableBody = document.querySelector('#myTable tbody');
                                salesdata.forEach(sale => {
                                    const row = tableBody.insertRow();
                                    row.insertCell(0).textContent = new Date(sale.orderedDate).toLocaleDateString('en-AU', {
                                        day: '2-digit',
                                        month: '2-digit',
                                        year: 'numeric'
                                    });
                                    row.insertCell(1).textContent = sale._id;
                                    row.insertCell(2).textContent = sale.totalAmount;
                                    row.insertCell(3).textContent = sale.paymentMethod;
                                    row.insertCell(4).innerHTML = `${sale.shippingAddress.fullname} <br> ${sale.shippingAddress.city},${sale.shippingAddress.state} <br> ${sale.shippingAddress.pincode},${sale.shippingAddress.phone}`;


                                });

                            }
                        })

                }

            }


            function dwnldReport() {
                const sart = document.getElementById('startDate').value
                const end = document.getElementById('endDate').value

                if (sart == '' || end == '') {
                    document.getElementById('err').innerText = "select Date"
                } else {
                    let url = `/admin/dwnldReport?start=${sart}&end=${end}`

                    fetch(url, {
                        method: "get",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })
                        .then(Response => {
                            return Response.json()
                        })
                        .then(data => {

                            if (data.salesReportData) {
                              

                                const csvContent = 'Ordered On,Order ID,Total Amount,Payment Method,Shipping Address\n'
                                    + data.salesReportData.map(sales =>
                                    `${new Date(sales.orderedDate).toLocaleString('en-AU', {
    day: '2-digit',
    month: '2-digit',
    year: 'numeric'
})},${sales._id},${sales.totalAmount},"${sales.paymentMethod}",`
                                        + `"${sales.shippingAddress.fullname} `
                                        + `${sales.shippingAddress.phone}, ${sales.shippingAddress.pincode}, `
                                        + `${sales.shippingAddress.city}, ${sales.shippingAddress.state}"`)
                                        .join('\n');


                                const blob = new Blob([csvContent], { type: 'text/csv' });
                                const url = URL.createObjectURL(blob);

                                const a = document.createElement('a');
                                a.href = url;
                                a.download = 'sales_Report.csv'; // Specify the filename
                                document.body.appendChild(a);

                                a.click();

                                document.body.removeChild(a);



                            } else {
                                console.log('No salesOrders data available.');
                            }
                        })
                }

            }

        </script>


        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- sweetalert  -->
        <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../assets/js/sidebarmenu.js"></script>
        <script src="../assets/js/app.min.js"></script>
        <script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
        <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
        <script src="../assets/js/dashboard.js"></script>
</body>

</html>